/* NAVBAR */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* ANIMATED TOGGLER MENU  */

.burger-body{
  display:grid;
  /* place-items:end; */
  height:10vh;
  margin:10px;
  padding:10px;

}

label{
 display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}

label span{
  background: #4C23E8;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1){
  width:50%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:75%;
 
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);

}



/* HORIZONTAL SCROLLING */
div{
    box-sizing:border-box;
  }
  
  body {
        background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  
  .horizontal-scroll-wrapper{

    display:block;
    top:0;
    left:0;
    width:600px;
    max-height:900px;
    padding:200px;

    background:red;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;

  }

  .horizontal-scroll-wrapper > div{
    margin-left:200px;
    display:inline-block;
    margin-left:50px;
    background:#cab;
    transform:rotate(90deg);
    transform-origin: right top;
  }
  
  .squares {
    /* padding:0 0 0 60px ; */

  }
  
  .squares > div{
    width:400px;
    height:400px;
    margin:10px;

  }
  

/* ANIMATION TEXT */

.animation {
  padding: 2rem;

}